
.article-details-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    position: relative;
    margin: 3em 0;
}

.detail-img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
    height: auto;
    max-width: 100%;
    z-index: -1;
}


.article-details-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.article-details-content {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 60%;      
}


