.article-details-container {
    display: flex;
    position: relative;
    margin: 2em 0;
}

.detail-img {
    position: absolute;
    opacity: 0.2;
    right: 0;
    top: -9px;
    width: 30%;
    height: auto;
    z-index: -1;
}

.article-details-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.article-details-content {
    font-size: 1.1rem;
    line-height: 1.6;
    width: 80%;      
}
