.articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

} 
.article-image-container {
    background-color: #ED833A;
    border-radius: 50%;
    padding: .5rem;
}
.article-image {
    max-width: 100%;
    width: 50px;
}
.article-title {
    font-size: 1rem;
    color: #0F4C81;
}