.side-menu-button {
    background-color: #0F4C81;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.side-menu-button:hover {
    background-color: transparent;
    color: #0F4C81;
    border: 2px solid #0F4C81;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}