.filter-button {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: transparent;
    color: #0F4C81;
    border: 2px solid #ED833A;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 4px 6px rgba(15, 21, 159, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.filter-button:hover {
    background-color: #ED833A;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
.filter-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
.filter-button:active {
    background-color: #0F4C81;
}
.active {
    background-color: #0F4C81;
}
