.footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #0F4C81;
    border-top: 2px solid #0F4C81;
}
.footer-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.footer a {
    color: #0F4C81;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-notes {
    display: flex;
    justify-content: space-between;
}
