.footer {
    padding: 1rem 5rem;
    text-align: center;
    font-size: 14px;
    color: #0F4C81;
    border-top: 2px solid #0F4C81;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer a {
    color: #0F4C81;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
.footer a:hover {
    color: #ED833A;
}
.footer-notes {
    display: flex;
    justify-content: space-between;
}
