@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}
.wrapper {
   padding: 1rem 5rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}