.header {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App-logo {
  height: 8vmin;
  /* pointer-events: auto; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
nav a {
    text-decoration: none;
    color: #0F4C81;
    
    font-weight: bold;
    font-size: 1.2em;
}
nav a:hover {
    color: #ED833A;
}
