.recipe-section {
  padding: 1rem 5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%; */
}
.posts-and-side-menu {
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  gap: 3rem;
  width: 100%;
}
.posts-container {
  width: 70%;
}
.side-menu-container {
  width: 30%;
}
.posts-container, .side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}
.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

